<% title 'Portal' %>

<div class="row align-items-center m-2">
    <%= render partial: 'portal_item', 
            locals: {
                incoming_label: 'Universes', 
                incoming_bg: 'bg-success', 
                incoming_path: universes_path, 
                incoming_icon: 'universes_24px.svg' } %>

    <%= render partial: 'portal_item', 
            locals: {
                incoming_label: 'Accounts', 
                incoming_bg: 'bg-primary', 
                incoming_path: accounts_path, 
                incoming_icon: 'accounts_24px.svg' } %>

    <%= render partial: 'portal_item', 
            locals: {
                incoming_label: 'Cost Centers', 
                incoming_bg: 'bg-danger', 
                incoming_path: cost_centers_path, 
                incoming_icon: 'cost-centers_24px.svg' } %>

    <%= render partial: 'portal_item', 
            locals: {
                incoming_label: 'Tags', 
                incoming_bg: 'bg-secondary', 
                incoming_path: tags_path, 
                incoming_icon: 'tags_24px.svg' } %>
</div>

<div class="row align-items-center m-2">
    <%= render partial: 'portal_item', 
            locals: {
                incoming_label: 'Entries', 
                incoming_bg: 'bg-warning', 
                incoming_path: entries_path, 
                incoming_icon: 'entries_24px.svg' } %>

    <%= render partial: 'portal_item', 
            locals: {
                incoming_label: 'Accounts Totalization', 
                incoming_bg: 'bg-info', 
                incoming_path: accounts_totalization_report_index_path, #TODO
                incoming_icon: 'accounts-totalizations-report_24px.svg' } %>
</div>

<hr/>
<h2>TODO</h2>
<ul>
<li>Unit tests: reset db or mock db
<li>Sort the account combos by structure
<li>Unit tests for controllers
<li>Account -> Universe - eager loading not working
<li>Navigation do index after delete - it says it is empty but that is not true
<li>if @entity.destroy (treat errors)
<li>CRUD index: refresh button
<li>CRUD: Mapping Memos
<li>CRUD: Templates
<li>CRUD: Entry: new from template
<li>CRUD: Entry: new from duplication
<li>Import file
<li>Export file
<li>Better UI design, especially for CRUD show and edit
</ul>