<% title "#{incoming_title} Universe" %>

<%= form_for @universe, url: {action: incoming_action} do |f| %>

    <% if @universe.errors.any? %>
        <ul>
            <% @universe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>

    <table>
        <tr>
            <td><%= f.label :name, 'Name' %></td>
            <td><%= f.text_field :name %></td>
        </tr>
    </table>
    <%= submit_tag 'Save' %>
<% end %>

<%= link_to "Search", universes_path %>