<!DOCTYPE html>
<html>
  <head>
    <title>CH On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-12 bg-danger h1 mb-0">
      <%= yield(:title) %>
    </div>
    <div class="col-12 bg-dark mt-0">
      <%= link_to 'Portal', '/portal' %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    
    <div class="navbar fixed-bottom bg-dark">
    FOOTER
    </div>
  </body>
</html>
